﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Pub Marialva</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,700i">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @Styles.Render("~/qualquernome")

</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="logo"><img src="~/Content/Imagens/logo.png" alt="Logotipo do Pub Marialva"></a>

            <nav class="main-navigation">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                    <li>@Html.ActionLink("Localização", "Local", "Home")</li>
                    <li>@Html.ActionLink("Reservas", "Reservas", "Home")</li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <footer>
            <h4>Contacte-nos</h4>
            <p>21.252.235</p>
            <p>contato@pubmarialva.pt</p>
        </footer>
    </div>
</body>
</html>

