﻿@{

    ViewBag.Title = "ConsultarReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="landing">
    <h1>Consultar Reservas</h1>
</div>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Data e Hora</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Numero de Pessoas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Otto</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Otto</td>

        </tr>
    </tbody>
</table>