﻿
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="landing">
    <h1>Menu</h1>
    <h2>Outono 2017</h2>
    <p>Os nossos menus são preparados sempre com ingredientes frescos e sabores locais. Os nossos menus varíam com as estações e com a disponibilidade dos ingredientes. Isso significa que nunca pagará ingredientes fora da temporada. Abaixo, poderá ver uma amostra de alguns dos pratos favoritos dos nossos clientes. As promoções variam diariamente e são publicadas, ou pode ligar antecipadamente para 21.678.987.</p>
</div>

<div class="gallery">

    <img src="~/Content/Imagens/prato-especial.jpg" alt="Prato Especial da Casa">
    <img src="~/Content/Imagens/escalopes.jpg" alt="Escalopes">
    <img src="~/Content/Imagens/salada.jpg" alt="Salada">
    <img src="~/Content/Imagens/filet.jpg" alt="Fillet">

</div>

<div class="info center">
    <h3>Entradas</h3>
    <ul>
        <li>Tapas Variadas</li>
        <li>Nachos Especiais</li>
        <li>Asinhas de Frango</li>
        <li>Tábua de Queijos</li>
    </ul>
</div>

<div class="info center">
    <h3>Acompanhamentos</h3>
    <ul>
        <li>Esparregado</li>
        <li>Batatas Fritas</li>
        <li>Espinafres Gratinados</li>
        <li>Batata Doce</li>
    </ul>
</div>

<div class="info center">
    <h3>Pratos</h3>
    <ul>
        <li>Empadão Marinado</li>
        <li>Frango Assado</li>
        <li>Vitela Estufada</li>
        <li>Arroz de Pato</li>
    </ul>
</div>



