﻿
@{

    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
  

}

<div class="landing">
    <h1>@ViewBag.Title</h1>
</div>


<form action="/home/Reservas" method="post">
    <div class="form-group">
        <label for="exampleInputNome">Nome</label>
        <input type="text" name="nome" class="form-control" id="exampleInputNome" aria-describedby="NomeHelp" placeholder="Introduza o seu nome">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">E-mail</label>
        <input type="email" name="email" class="form-control" id="exampleInputemail" placeholder="E-mail">
    </div>
    <div class="form-group">
        <label for="exampleInputnum">Numero de Pessoas</label>
        <input type="number" name="numero" min="1" max="99" />
    </div>
    <div class="form-group">
        <label for="exampledataHora">Data e Hora da reserva</label>
        <input id="datetime" name="datetime" type="datetime-local">
    </div>
    <button type="submit" class="btn button">Reservar</button>
</form>




